%footer.footer
  %small
    The
    %a{:href => "http://www.railstutorial.org/"} Rails tut
    by
    %a{:href => "http://www.michaelhartl.com/"} Macgill Davis
  %nav
    %ul
      %li
        = link_to "Help", help_path
      %li
        = link_to "About", about_path
      %li
        = link_to "Contact", contact_path
